%h1 Listing items

%table
  %div.items_block
    %tr
      %td
        %h4 Unassigned
        -if unassigned_items.size == 0
          %tr
            %td
              %p No Unnasigned items! Awesome Job, Team!
        - else 
          %div.listed_item
            %tr
            %td Item Name
            %td Assign this to me! 
          -  unassigned_items.each do |item|
            %tr
              %td= item.name
              -if current_user
                %td
                  =link_to "click", assign_url(item)
              -#-if current_user.admin
                -#%td= link_to 'Show', item
                -#%td= link_to 'Edit', edit_item_path(item)
                -#%td= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete

  %br
    %div.items_block
      %tr
        %td
          %h4 Assigned
          - if assigned_items.size == 0
            %tr
              %td
                %p No assigned Items. Something is terribly wrong.
          - else
            %div.listed_item
              %tr
                %td Item Name
                %td Assigned to
                %td Date Assigned
            -  assigned_items.sort_by {|item| item.date_assigned}.each do |item|
              %div.listed_item
                %tr
                  %td= item.name 
                  %td= item.user.name
                  %td= item.date_assigned.strftime('%b %e %Y')
                -#-if current_user.admin
                  -#%td= link_to 'Show', item
                  -#%td= link_to 'Edit', edit_item_path(item)
                  -#%td= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete
-if current_user.admin
  = link_to 'New Item', new_item_path
